body {
  margin: 30px;
  background: rgba(4, 66, 148, 0.952);
}
.table-bordered {
  color: white;
   text-align: center;
  border-color: #627a7af3;
  font-family: Arial, Helvetica, sans-serif;
}

.headings{
    text-align: center;

color: rgb(123, 238, 161);



}